<body class="bg-gray-100">

  <!-- Barra de navegación -->
  <nav class="bg-blue-900 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-xl font-bold">Colegio Miramar</h1>
      <ul class="flex space-x-4">
        <li *ngIf="!aceptarReservaBoolean"><a href="inicioPersonal" class="hover:underline">Inicio</a></li>
        <li *ngIf="aceptarReservaBoolean"><a href="gestionarReservas" (click)="aceptarReservaBoolean=false" class="hover:underline">Inicio</a></li>
        <li><a href="" class="hover:underline" (click)="logOut()">LogOut</a></li>
      </ul>
    </div>
  </nav>

  <!-- Contenido principal -->
  <div class="bg-white shadow rounded-lg p-6 min-h-screen">
    <div class="flex items-center justify-center p-10" *ngIf="aceptarReservaBoolean">
      <form [formGroup]="formularioReserva" (ngSubmit)="aceptarReserva()" class="bg-white p-6 rounded shadow-md w-full max-w-sm">
        <h2 class="text-2xl font-bold mb-4">Reserva</h2>
        <div class="mb-4">
          <label class="block text-gray-700">Fecha de devolucion</label>
          <input formControlName="fechaDeDevolucion" type="date" class="w-full px-3 py-2 border rounded" placeholder="Titulo"/>
        </div>
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded mb-4">Aceptar reserva</button>
      </form>
    </div>
    
    <div class="flex items-center justify-center p-10" *ngIf="devolverReservaBoolean">
      <form [formGroup]="formularioDevolverReserva" (ngSubmit)="devolverReserva()" class="bg-white p-6 rounded shadow-md w-full max-w-sm">
        <h2 class="text-2xl font-bold mb-4">Devolucion</h2>
        <div class="mb-4">
          <label class="block text-gray-700">Observacion</label>
          <input formControlName="observacion" type="text" class="w-full px-3 py-2 border rounded" placeholder="Observacion"/>
        </div>
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded mb-4">Devolver reserva</button>
      </form>
    </div>

    <ng-container *ngIf="!aceptarReservaBoolean&&!devolverReservaBoolean">
      <h2 class="text-3xl font-semibold mb-4 text-center">Gestión de reservas</h2>
      <p class="text-sm text-gray-600 text-center mb-6">Aqui puedes gestionar las reservas de la biblioteca.</p>

      <!-- Barra de búsqueda -->
      <div class="mb-6 flex justify-center">
        <input type="text" [formControl]="buscarFormulario" placeholder="Buscar reserva por nombre" class="px-4 py-2 border rounded w-full max-w-md">
      </div>

      <!-- Hay reservas disponibles -->
      <h2 class="text-3xl font-semibold mb-4">Reservas por aceptar</h2>
      <div *ngIf="solicitudesPorAceptar.length == 0" class=" text-center text-gray-500">No hay reservas por aceptar.</div>
      <div *ngIf="solicitudesPorAceptar.length > 0" class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
        <div *ngFor="let solicitud of solicitudesPorAceptar" class="bg-gray-100 p-4 rounded-lg shadow-md hover:bg-gray-200 transition">
            <h3 class="text-xl font-bold mb-2">Nombre: {{solicitud.nombreSolicitante}}</h3>
            <p class="text-gray-700">Curso: {{solicitud.cursoDelSolicitante}}</p>
            <p *ngIf="solicitud.rutSolicitante" class="text-gray-700">Rut: {{solicitud.rutSolicitante}}</p>
            <p class="text-gray-700">Fecha solicitud: {{solicitud.fechaDeSolicitud}}</p>
            <p class="text-gray-700">Libro: {{solicitud.libro.titulo}} </p>
            <button (click)="iniciarAceptarReserva(solicitud)" class="mt-2 mr-2 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Aceptar</button>
            <button (click)="eliminarReserva(solicitud.idSolicitud)" class="mt-2 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Rechazar</button> 
        </div>
      </div>

      <h2 class="text-3xl font-semibold mb-4">Reservas por devolver</h2>
      <div *ngIf="solicitudesPorDevolver.length == 0" class=" text-center text-gray-500">No hay reservas por devolver.</div>
      <div *ngIf="solicitudesPorDevolver.length > 0" class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div *ngFor="let solicitud of solicitudesPorDevolver" class="bg-gray-100 p-4 rounded-lg shadow-md hover:bg-gray-200 transition">
            <h3 class="text-xl font-bold mb-2">Nombre: {{solicitud.nombreSolicitante}}</h3>
            <p class="text-gray-700">Curso: {{solicitud.cursoDelSolicitante}}</p>
            <p *ngIf="solicitud.rutSolicitante" class="text-gray-700">Rut: {{solicitud.rutSolicitante}}</p>
            <p class="text-gray-700">Fecha solicitud: {{solicitud.fechaDeSolicitud}}</p>
            <p class="text-gray-700">Fecha devolucion: {{solicitud.fechaDeDevolucion}}</p>
            <p class="text-gray-700">Libro: {{solicitud.libro.titulo}} </p>
            <button (click)="iniciarDevolverReserva(solicitud)" class="mt-2 mr-2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Devuelto</button>
        </div>
      </div>
    </ng-container>
  </div>
</body>
