<!-- libros-recomendados.component.html -->
<body class="bg-gray-100">
  <!-- Barra de navegación -->
  <nav class="bg-blue-900 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-xl font-bold">Colegio Miramar</h1>
      <ul class="flex space-x-4">
        <li><a routerLink="inicio" class="hover:underline">Inicio</a></li>
      </ul>
    </div>
  </nav>

  <!-- Contenido principal -->
  <div class="container mx-auto py-10">
    <h2 class="text-3xl font-bold mb-8 text-center mt-12">Libros Más Pedidos de la Semana</h2>
    <div class="bg-white shadow-lg rounded-lg p-6 w-6/12 mx-auto">
      <h3 class="text-2xl font-semibold mb-4 text-center">Libros Más Pedidos de la Semana</h3>
      <canvas baseChart 
              [datasets]="librosMasSolicitados.datasets" 
              [labels]="librosMasSolicitados.labels"
              [options]="smallPieChartOptions" 
              [legend]="pieChartLegend" 
              [type]="pieChartType">
      </canvas>
    </div>
  </div>
</body>
