<body class="bg-gray-100 min-h-screen">
  <!-- Barra de navegación -->
  <nav class="bg-blue-900 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <img src="../../assets/Logo Bicentenario 2 (3).png" class="h-12">
        <h1 class="text-xl font-bold">Colegio Miramar</h1>
      </div>
      <ul class="flex space-x-4">
        <li><a routerLink="inicio" class="hover:underline">Inicio</a></li>
      </ul>
    </div>
  </nav>

  <!-- Contenido principal -->
  <div class="container mx-auto py-4">
    <h2 class="text-3xl font-bold mb-8 text-center mt-12">Libros Más Pedidos del Mes</h2>
    <div class="bg-white shadow-lg rounded-lg p-6 w-6/12 mx-auto">
      <canvas baseChart 
              [datasets]="librosMasSolicitados.datasets" 
              [labels]="librosMasSolicitados.labels"
              [options]="smallPieChartOptions" 
              [legend]="pieChartLegend" 
              [type]="pieChartType">
      </canvas>
    </div>
  </div>
</body>
