<!-- Barra de navegación -->
<nav class="bg-blue-900 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-xl font-bold">Colegio Miramar</h1>
    <ul class="flex space-x-4">
      <li><a href="listaDeLibrosDigitales" class="hover:underline">Ver libros digitales</a></li>
    </ul>
  </div>
</nav>

<div class="container mx-auto p-4">
  <h2 class="text-3xl font-semibold mb-4">Visualización del Libro</h2>
  <pdf-viewer [src]='pdfSrc' [render-text]="true" [original-size]="false" style="width: 100%; height: 1080px;"></pdf-viewer>
</div>