<body class="bg-gray-100">

  <!-- Barra de navegación -->
  <nav class="bg-blue-900 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-xl font-bold">Colegio Miramar</h1>
      <ul class="flex space-x-4">
        <li><a href="inicio" class="hover:underline">Inicio</a></li>
      </ul>
    </div>
  </nav>

  <!-- Contenido principal -->
  <div class="bg-white shadow rounded-lg p-6">
    <h2 class="text-3xl font-semibold mb-4 text-center">Lista de Libros</h2>
    <p class="text-sm text-gray-600 text-center mb-6">Explora nuestra colección de libros físicos disponibles para reserva.</p>
    
    <!-- No hay libros disponibles -->
    <div *ngIf="libros.length == 0" class="text-center text-gray-500">No hay libros disponibles.</div>
    
    <!-- Hay Libros disponibles -->
    <div *ngIf="libros.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div *ngFor="let libro of libros" class="bg-gray-100 p-4 rounded-lg shadow-md hover:bg-gray-200 transition">
        <h3 class="text-xl font-bold mb-2">{{libro.titulo}}</h3>
        <p class="text-gray-700">Autor: {{libro.autor}}</p>

        <!-- año > 0 (d.C) -->
        <ng-container *ngIf="libro.anio>0">
          <p class="text-gray-700">Año: {{libro.anio}}</p>
        </ng-container>

        <!-- año < 0 (a.C) -->
        <ng-container *ngIf="libro.anio<0">
          <p class="text-gray-700">Año: {{libro.anio*-1}} a.C</p>
        </ng-container>

        <p class="text-gray-700">Editorial: {{libro.editorial}}</p>
        <p class="text-gray-700">Generos:
          <ng-container *ngFor="let libroGenero of libro.libro_Generos">
            <span>{{libroGenero.genero.nombre}}</span><span *ngIf="libro.libro_Generos.indexOf(libroGenero) < libro.libro_Generos.length - 1">, </span>
          </ng-container>
        </p>
        <button (click)="reservarLibro(libro.idLibro)" class="mt-2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Reservar libro</button> 
      </div>
    </div>
    <h2 class="text-3xl font-semibold mb-4 text-center p-6">Lista de Libros Reservados</h2>

    <!-- No hay libros reservados -->
    <div *ngIf="librosReservados.length == 0" class="text-center text-gray-500">No hay libros reservados.</div>

    <!-- Hay Libros reservados -->
    <div *ngIf="librosReservados.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div *ngFor="let libro of librosReservados" class="bg-gray-100 p-4 rounded-lg shadow-md hover:bg-gray-200 transition">
        <h3 class="text-xl font-bold mb-2">{{libro.titulo}}</h3>
        <p class="text-gray-700">Autor: {{libro.autor}}</p>

        <!-- año > 0 (d.C) -->
        <ng-container *ngIf="libro.anio>0">
          <p class="text-gray-700">Año: {{libro.anio}}</p>
        </ng-container>

        <!-- año < 0 (a.C) -->
        <ng-container *ngIf="libro.anio<0">
          <p class="text-gray-700">Año: {{libro.anio*-1}} a.C</p>
        </ng-container>
        
        <p class="text-gray-700">Editorial: {{libro.editorial}}</p>
        <p class="text-gray-700">Generos:
          <ng-container *ngFor="let libroGenero of libro.libro_Generos">
            <span>{{libroGenero.genero.nombre}}</span><span *ngIf="libro.libro_Generos.indexOf(libroGenero) < libro.libro_Generos.length - 1">, </span>
          </ng-container>
        </p>
      </div>
    </div>
  </div>
</body>