<body class="bg-gray-100 min-h-screen">

  <!-- Barra de navegación -->
  <nav class="bg-blue-900 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <img src="../../assets/Logo Bicentenario 2 (3).png" class="h-12">
        <h1 class="text-xl font-bold">Colegio Miramar</h1>
      </div>
      <ul class="flex space-x-4">
        <li><a href="listaDeLibros" class="hover:underline">Lista de libros</a></li>
        <li><a href="inicio" class="hover:underline">Inicio</a></li>
      </ul>
    </div>
  </nav>
  
  <!-- Tarjeta solicitud de libro -->
  <div class="flex items-center justify-center p-10">
    <form [formGroup]="formularioSolicitudLibro " (ngSubmit)="solicitarLibro()" class="bg-white p-6 rounded shadow-md w-full max-w-sm">
      <h2 class="text-2xl font-bold mb-4">Solicitud de libro</h2>
      <div class="mb-4">
        <label class="block text-gray-700">Nombre</label>
        <input formControlName="name" type="text" class="w-full px-3 py-2 border rounded" placeholder="Nombre" />
        <div *ngIf="formularioSolicitudLibro.controls['name'].invalid && (formularioSolicitudLibro.controls['name'].dirty || formularioSolicitudLibro.controls['name'].touched)" class="text-red-600">
          Nombre es obligatorio.
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Tipo de Usuario</label>
        <select formControlName="userType" (change)="cambioUserType()" class="w-full px-3 py-2 border rounded">
          <option value="" disabled selected>Seleccione el tipo de usuario</option>
          <option value="educacionGeneralBasica">Educación General Básica</option>
          <option value="ensenanzaMedia">Enseñanza Media</option>
          <option value="funcionario">Funcionario</option>
        </select>
      </div>
      <div class="mb-4" *ngIf="formularioSolicitudLibro.controls['userType'].value === 'educacionGeneralBasica'">
        <label class="block text-gray-700">Curso</label>
        <select formControlName="grade" class="w-full px-3 py-2 border rounded">
          <option value="" disabled>Seleccione el curso</option>
          <option *ngFor="let curso of cursosEducacionGeneralBasica" [value]="curso">{{ curso }}</option>
        </select>
      </div>
      <div class="mb-4" *ngIf="formularioSolicitudLibro.controls['userType'].value === 'ensenanzaMedia'">
        <label class="block text-gray-700">Curso</label>
        <select formControlName="grade" class="w-full px-3 py-2 border rounded">
          <option value="" disabled>Seleccione el curso</option>
          <option *ngFor="let curso of cursosEnsenanzaMedia" [value]="curso">{{ curso }}</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Rut</label>
        <input formControlName="rut" type="text" class="w-full px-3 py-2 border rounded" placeholder="Rut" />
      </div>
      <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded">Hacer solicitud</button>
    </form>
  </div>
</body>
